.advantage {
  position: relative;
  width: 100%;
  min-height: 45rem;
  background-color: #7224ea;
  padding-top: 4.375rem;
  z-index: 1000;
  overflow-x: hidden;
  padding: 1rem;
}

.content {
  margin: auto;
  max-width: 73.125rem;
  color: white;
}

.content h2 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.625rem;
  letter-spacing: 0em;
  text-align: left;
  z-index: 1000;
}

.gett-list {
  max-width: 48.125rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 3.2rem;
  padding-bottom: 3.875rem;
}

.gett-list__item {
  display: flex;
  align-items: center;
  width: 23.375rem;
  height: 7.5rem;
  background-color: #fff;
  padding: 0rem 1.75rem 0rem 2.2rem;
  gap: 1.375rem;
  color: black;
  z-index: 1000;
  margin-top: 1.625rem;
}

.gett-list__item i::before {
  font-size: 2.375rem;
  color: #651fff;
  margin-left: 0rem;
  margin-right: 0rem;
}

.gett-list__item p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0em;
  text-align: left;
}

.advantage__phone {
  max-width: 48.8125rem;
  position: absolute;
  bottom: 0;
  left: 51.4%;
  z-index: -10;
}

@media screen and (max-width: 768px) {
  .advantage__phone {
    display: none;
  }

  .advantage {
    padding-left: 8.75rem;
  }

  .gett-list__item {
    width: 17.125rem;
    height: 5rem;
    padding: 0rem 0.875rem 0 1.25rem;
  }
}
@media screen and (max-width: 480px) {
  .content h2 {
    padding-left: 1rem;
  }

  .advantage{
    padding-left: 0;
    padding-bottom: 2.5rem;
  }
  .gett-list {
    margin-top: 3.0833rem;
    padding-left: 1rem;
 
  }
  .gett-list__item {
    width: 22.8rem;
    height: 6.6rem;
    padding: 0rem 1.16rem 0rem 1.6625rem;
  }

  .content .button {
      margin-left: 1rem;
  }
}
