.feedback {
    background: url(../img/feedback/bgForm.svg) no-repeat;
    background-size: cover;
    min-height: 727px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1px;
    z-index: 1000;
}

.feedback__container {
    max-width: 972px;
    width: 100%;
    min-width: 320px;

    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25), 0 .5rem .5rem rgba(0, 0, 0, 0.22);
}

.feedback__form {
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 3rem 0 4rem 4.25rem;
}

.form {
    max-width: 74%;
    min-width: 320px;
    white-space: nowrap;
    background: url(../img/feedback/krug.svg) no-repeat;
}

.form .form__header {
    margin-bottom: 3rem;
    font-size: 36px;
    font-weight: bold;
    white-space: normal;
}

.form .form__left {
    display: inline-flex;
    flex-direction: column;
    width: 48%;
    margin-right: 1.5rem;
}

.dropdown-arrow {
    background-image: url(../img/feedback/arrow_drop_down_24px.svg);
    position: absolute;
    height: 5px;
    width: 10px;
    top: 12%;
    right: 1%;
}

.select {
    outline: none;
    -webkit-appearance: none;
    margin-bottom: 1.5rem;
    padding: .33rem 0;
    border-bottom: 1px solid #979797;
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 50%;
    z-index: 100;
    background-color: transparent;
    cursor: pointer;
}

.select:focus {
    border-color: #651FFF;
}

.select:focus + .form__label {
    color: #651FFF;
}

.select .select__option:first-child {
    display: none;
}

.form .form__right {
    display: inline-flex;
    flex-direction: column;
    width: 48%;
    position: relative;
}

.form .form__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form .form__bottom .form__text {
    width: 49%;
    white-space: normal;
    color: #0B0B0B;
    font-size: 12px;
    line-height: 18px;
}

.form .form__bottom .form__link {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;;
}

.form__container {
    display: flex;
    flex-direction: column-reverse;
}

.form__container .form__input {
    width: 100%;
    padding: .33rem 0;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #979797;
    margin-bottom: 1.5rem;
}

.form__container .form__input:focus {
    border-color: #651FFF;
}

.form__container .form__input:focus + .form__label {
    color: #651FFF;
}

.form__container .form__label {
    color: #979797;
    font-size: 12px;
    cursor: pointer;
}

.form__container .form__input::placeholder {
    color: #000;
}

@media screen and (max-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
    }

    .form .form__right {
        width: 100%;
    }

    .form .form__left {
        width: 100%;
        margin-right: 0;
    }

    .form .form__bottom {
        flex-direction: column;
        width: 100%;
    }

    .form .form__bottom .form__text {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .feedback__form {
        margin: 0 auto;
        padding: 2rem 1rem;
    }

    .form__bottom .button {
        width: 200px;
    }
}