/* footer */

.footer-content {
  background-color: #f5f5f5;
  padding-top: 2.625rem;
}

.footer-content__nav {
  padding-bottom: 6.25rem;
}

.nav__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.625rem;
}

.nav__logo-footer {
  font-size: 2.25rem;
}

.rights{
  font-size: 14px;
}

.additional__year {
  display: inline-block;
}

.additional__text {
  padding-left: 2.375rem;
}

.nav__elements--footer {
  padding-top: 0.4rem;
}

.footer-content__additional {
  padding-bottom: 3.625rem ;
  margin-bottom: 0;
} 

@media screen and (max-width: 768px) {
  .footer-content__nav {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 480px) {
    .footer-content__additional {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
    }

    .additional__elem {
        margin-bottom: 2rem;
    }
}