.back-pichure {
  background: url(../img/fon.png) no-repeat;
  background-position: 50% 0;
  background-size: cover;
  padding-bottom: 10.8rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}

.nav {
  font-family: "Roboto Condensed", sans-serif;
  z-index: 999;
  padding-top: 0.875rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  flex-wrap: wrap;
}

.nav__elements {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__logo {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__link {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1.7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition: 0.3s linear;
}

.nav__link:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #E43225;
  content: "";
  transition: width 0.3s linear;
}

.nav__link:hover {
  color: #E43225;
}

.nav__link:hover:after,
.nav__link:focus:after {
  width: 100%;
}

.additional {
  z-index: 998;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.container__additional {
    margin-bottom: 5.8125rem;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
}
.additional__elem {
  align-items: center;
}

.additional__elem:last-child {
  margin-right: 0;
}

.number {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto";
  margin-bottom: 0.5rem;
  margin-right: 4.5rem;
}

.mail {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Roboto";
  padding-left: 2.8125rem;
}

.addres {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Roboto";
  margin-right: 4.5rem;
}

.additional__img {
  margin-right: 0.4rem;
}

/* main */

.main {
  position: relative;
}

.main__text {
  font-size: 3.375rem;
  font-weight: 700;
  color: #fff;
  font-family: "Roboto";
  text-transform: uppercase;
  padding-left: 10.625rem;
}

.main__img {
  margin-bottom: 1.375rem;
  margin-top: -0.9375rem;
}

.main__subtitle {
  font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 1.6875rem;
}

/* maint decoration */
.main__girl {
  position: absolute;
  left: 13%;
  top: -19.5%;
  z-index: 1;
}

.main__target{
  position: absolute;
  left: 60%;
  top: -56%;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .main__girl {
    display: none;
  }

  .main__target{
    display: none;
  }

  .nav {
    justify-content: space-around;
  }

  .nav__elements {
    display: flex;
    justify-content: space-around;
    padding-top: 0.75rem;
    flex-wrap: wrap;
  }

  .nav__link {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 0;
    text-transform: uppercase;
    padding: 1rem;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .additional {
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .container__additional {
    margin-bottom: 2rem;
  }

  .additional__elem {
    margin-bottom: 1rem;
  }

  .number {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Roboto";
    margin-bottom: 0.5rem;
    margin-right: 1.5rem;
  }

  .addres {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Roboto";
    margin-right: 1.5rem;
  }

  .main {
    text-align: center;
  }
  .main__text {
    padding-left: 0;
    padding-bottom: 0.5rem;
  }
  .main__img {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .main__text {
    font-size: 3rem;
  }

  .main__img {
    max-width: 23rem;
  }

  .main__subtitle {
    font-size: 1.5rem;
  }
}
