/* self-entry */

.title {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto";
}

.self-entry {
  max-width: 1242px;
  margin: 0 auto;
  padding: 4.6875rem 1rem 0;
}

.self-entry__title {
  margin-bottom: 5rem;
  padding-left: 1.25rem;
}

.self-entry__wrapper {
  display: flex;
  justify-content: space-between;
}

.self-entry__bookmark {
  background: url(../img/self-entry/bookmark.svg);
  font-size: 1.125rem;
  font-weight: 700;
  border: none;
  color: #fff;
  font-family: "Roboto";
  width: 202px;
  height: 40px;
  cursor: pointer;
}

.big-bookmark {
  background: url(../img/self-entry/big-bookmark.svg) repeat-y;
  background-size: cover;
  font-size: 1.125rem;
  font-weight: 700;
  border: none;
  color: #fff;
  font-family: "Roboto";
  width: 90%;
  max-width: 378px;
  min-height: 40px;
  margin-bottom: 2.6875rem;
  cursor: pointer;
}

.self-entry__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0;
  width: 50%;
  border-right: 1px solid #000;
}

.self-entry__left-content {
  display: flex;
  flex-direction: column;
}

.self-entry__right {
  width: 45%;
  margin-bottom: 92px;
}

.self-entry__button {
    width: 326px;
}

.self-entry__list {
  margin-left: 1.8rem;
  max-width: 357px;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Roboto";
  margin-top: 2.9375rem;
  margin-bottom: 1.125rem;
  list-style: none;
  padding: 0;
}

.self-entry__li {
  margin-bottom: 2.375rem;
  position: relative;
  padding-left: 0.625rem;
}

.self-entry__li::before {
  content: url(../img/self-entry/point.svg);
  position: absolute;
  left: -1.5rem;
}

.self-entry__span {
  font-weight: 700;
}

.self-entry__img {
  max-width: 100%;
  margin-bottom: 5.75rem;
  margin-left: auto;
}

.self-entry__targets {
  max-width: 535px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 6.75rem;
}

.self-entry__target {
  padding-right: 0.75rem;
}

.self-entry__item {
  width: 244px;
  display: flex;
  align-items: center;
  margin-bottom: 3.9375rem;
  margin-right: 1.75rem;

  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Roboto";
}

.self-entry__item:nth-child(2n) {
  margin-right: 0;
}
.self-entry__item:last-child {
  margin-bottom: 0;
}

.self-entry__tagline {
  display: flex;
  align-items: center;
  max-width: 474px;
  margin-bottom: 3.75rem;
}

.self-entry__text {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Roboto";
  padding-bottom: 20px;
}

.self-entry__laptop {
  padding-right: 2rem;
}

/* purpule-wrapper */

.purpule-wrapper {
  background-color: #7224ea;
  padding: 0 1rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}

.purpule-wrapper__title {
  color: #fff;
  padding-top: 2.9375rem;
  padding-bottom: 3rem;
  
}

.purpule-wrapper .content {
  max-width: 1162px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.purpule-wrapper__list {
  display: flex;
  justify-content: space-between;
  max-width: 1091px;
}

.purpule-wrapper__item {
  display: flex;
  align-items: center;
  width: 447px;
}

.purpule-wrapper__border {
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 1.25rem;
}

.purpule-wrapper__text {
  color: #fff;
}

.purpule-wrapper__suptitle {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Roboto";
  margin-bottom: 0.8125rem;
}

.purpule-wrapper__subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Roboto";
}

@media screen and (max-width: 768px) {
  .self-entry__wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }

  .self-entry__button {
    width: 255px;
  }

  .self-entry__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    width: 100%;
    border-right: none;
  }

  .self-entry__left-content {
    flex-direction: column;
    align-items: center;
  }

  .self-entry__right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 92px;
  }

  .self-entry__list {
    margin-left: 0;
    font-size: 1rem;
  }

  .self-entry__img {
    margin-left: 0;
  }

  .self-entry__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 92px;
  }

  .purpule-wrapper__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .purpule-wrapper__item {
    display: flex;
    align-items: center;
    width: 447px;
    margin-bottom: 2rem;
  }

  .purpule-wrapper__item:last-child {
    margin-bottom: 0;
  }

  .purpule-wrapper {
    margin: 0 -1rem;
  }
}
@media screen and (max-width: 480px) {
  .self-entry__right {
    align-items: center;
  }

  .self-entry__item {
    width: 244px;
    display: flex;
    align-items: center;
    
    margin-bottom: 3.9375rem;
    margin-right: 1.75rem;
  
    font-size: 0.875rem;
    font-weight: 500;
    font-family: "Roboto";
  }

  .self-entry__targets {
    justify-content: center;
  }
  
  .self-entry__item {
    width: 244px;
    margin-right: 0;
  }

  .self-entry__list {
      margin-left: 1rem;
  }

}
